@charset "UTF-8";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    
box-sizing: inherit;
}

.container {
width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.column{
    float: left;
    margin-right: 10px;
    margin-left:10px;
}

.row {
    overflow: hidden;
}

.one-whole {
    width: 940px;
    
}

.three-quarters {
    
    width:700px;
}

.one-half {
    width: 460px;
}

.two-thirds {
    width: 620px;
}

.one-third {
    width: 300px;
}

.one-six {
    width: 140px;
    
}

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

nav ul li {
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}



/* Header Elements*/
.brand {
    padding-top: 45px;
    padding-bottom: 45px;
    font-size: 18px;
}
.nav {
    padding-top: 60px;
}

.nav li {
    font-size: 18px;
    float: none;
    border-right: 1px solid #dedede;
    font-size: 18px;
}

.nav li:last-child {
    border-right: 0 none;
}

.nav a {
    padding: 0px 10px;
-webkit-transition: color 0.3s ease 0s;
-moz-transition: color 0.3s ease-out;
-ms-transition: color 0.3s ease-out;
-o-transition: color 0.3s ease-out;
transition: color 0.3s ease-in-out;
}

.nav a:hover{
    color: #5adae2;
}

.active a{
    color: #5adae2;
}

.pull-right {
    float: right;
}

/*Footer Class*/

.social {
    text-align: center;
}

.social-list i:hover {
    background-color: #373737;
}

.footer-bottom a {
    color: white;
}

.footer-bottom a:hover {
    color: 5adae2;
}

.footer a:hover,
.footer i:hover {
    color: #5adae2;
}

.btn {
display: inline-block;
font-size: 14px;
background-color: #0B676B; /* teal */
color: #FFF;
padding: 15px 20px;
border: 0 none;
margin-right: 10px;
margin-bottom: 10px;
margin-top: 20px;
-webkit-transition: background 0.3s ease 0s;
-moz-transition: background 0.3s ease-out;
-ms-transition: background 0.3s ease-out;
-o-transition: background 0.3s ease-out;
transition: background 0.3s ease-in-out; 
}

.btn > i {
    color: #fff;
}

.page-header .btm {
    margin-top: 40px;
    margin-left: 20px;
}

.message .btn {
    margin-left: 20px;
}

/* Home page CSS*/
.message {
    padding-top: 60px;
    padding-bottom: 60px;
}

.main-content-top h1 {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center
}

.main-content-top i {
    color: #5adae2;
    vertical-align: -10px;
}

.main-content-bottom {
    padding-top: 75px;
}

.blog-tease {
    min-height: 210px;
    color: #ffffff;
    
}

/* About page CSS */

.team h1 {
    margin-bottom: 40px;
}

.team-member {
    margin-bottom: 20px;
}

/* Portfolio*/
.portfolio-item {
    margin-bottom: 10px;
    position: relative;
}

.portfolio-title {
    color: white;
text-align: center;
height: 308px;
position: absolute;
z-index: 10;
top: 0;
left: 0;
opacity: 0; /* opacity is zero. Nothing displays */
padding: 10px;
-webkit-transition: opacity 0.3s ease 0s;
-moz-transition: opacity 0.3s ease-out;
-ms-transition: opacity 0.3s ease-out;
-o-transition: opacity 0.3s ease-out;
transition: opacity 0.3s ease 0s; 
}

.portfolio-title:hover {
    background-color: #5adae2;
    opacity: .9;
}

/*Blog Page*/

.info li {
    display: inline-block;
}

.sidebar {
    padding: 30px;
    
}

.recent-entries img {
    float: left;
    padding-right: 10px;
}

.photos img {
    padding-right: 10px;
    padding: 10px;
}

.info a:hover {
    color: #5adae2;
}

.info i:hover {
    color: #5adae2;
}

/* Contact Page*/

.table, 
.form p, 
.map h2 {
    margin-left: 15px;
}

/*Main Content*/

.page-header {
    padding-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    background-color: #5adae2;
    color: #ffffff;
}

.page-header p {
    padding-left: 15px;
    font-size: 26px;
}

.page-header h1 {
    padding-left: 15px;
    font-weight: bold;
    text-align: center;
}

/*home page CSS*/

.page-header.home {
    margin-bottom: 0;
}

.page-header.home h1 {
    
    font-weight: normal;
    text-align: center;
}

.message {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #4cd2da;
}

.main-content-top h1{
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

.main-content-top {
    margin-bottom: 75px;
}

.main-content-bottom {
    padding-bottom: 75px;
}

.main-content-bottom h1 {
    text-align: center;
}

.main-content-bottom conentbox-beige {
    min-height: 350px;
}

.blog-tease {
    height: 210px;
    min-height: 210px;
    padding-bottom: 70px;
}

.page-header.home p {
    font-size: 18px;
    font-weight: 200;
}

.page-header.home a {
    margin-left: 35px;
}

/* global sectors */

body {
    color: #999;
    background-color: #edecea;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

h1 {
    color: #1e1f1f;
    font-size: 32px;
}

h2 {
    color: #1e1f1f;
    margin: 0;
}

h3{
    color: #1e1f1f;
    font-size: 24px;
    font-weight: 200;
    margin: 0;
}

h4 {
    color: #1e1f1f;
    font-size: 18px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 18px;
    margin: 0;
}

/* color selectors */

.header {
    background-color: #373737;
}

.main {
    background-color: #edecea;
}

.footer {
    background-color: #373737;
}

.footer h4 {
    color: #ffffff;
}

.footer p {
    color: #999999;
    font-size: 16px;
    font-weight: 200;
    margin-top: 0;
}

.footer ul {
    font-size: 16px;
    font-weight: 200;
    
}

.footer-bottom {
    background-color: #1e1f1f;
    color: #ffffff;
}

.social-list li{
    display: inline-block;
}

.social-list i {
    background-color: #2D2D2D;
    margin: 5px 10px 0 0;
    padding: 3px;
    width: 40px;
    display: inline-block;
}


.message h3 {
    color: #ffffff;
}

.contentbox {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox-beige {
    background-color: #f6fffb;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox-turquoise {
    background-color: #5adae2;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox>img {
    float: left;
    margin-right: 15px;
}

.contentbox-beige>img {
    float: left;
    margin-right: 15px;
}

.contentbox h4 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}

.contentbox li {
    font-size: 20px;
    font-weight: normal;
}

.contentbox i {
    color: #5adae2;
}

.tile {
    border-color: #5adae2;
    color: #ffffff;
    padding: 10px;
    margin: 0 0 5px 5px;
    padding: 20px;
    text-align: center;
}

.tile p {
    margin: 0;
}

.tile i {
    font-size: 108px;
}

.blog-tease h2 {
    color: #ffffff;
}

.one-quarter {
    width: 220px;
}

.team-member h1 {
    text-align: center;
}

.team-member ul {
    text-align: right;
}

.team-member li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.team-member a {
    color: #1e1f1f;
}

.team-member i {
    background-color: #edecea;
    color: #1e1f1f;
    font-size: 16px;
    padding: 3px;
    margin: 0;
    width: 22px;
    display: inline-block;
    text-align: center;
}

.team-member a {
    color: #1e1f1f;
}

.team-member a:hover {
    color: #5adae2;
}

.team-member i:hover {
    color: #5adae2;
    background-color: #1e1f1f;
}

.address, .address a {
    color: #1e1f1f;
}

.info li {
    font-size: 14px;
        background-color: #edecea;
    padding: 5px 8px;
    margin-top: 5px;
    margin-right: 5px;
    
}

.info i {
    color: #1e1f1f;
    display: inline-block;
    width: 22px;
    text-align: center;
}

.sidebar p {
    font-size: 13px;
    line-height: 18px;
    color: #1e1f1f;
}

.text-center {
    text-align: center;
}

input [type="text"],
input [type="tel"],
input[type="email"] {
    padding-top: 25px;
    padding-right: 0;
    padding-bottom: 25px;
    padding-left: 10px;
    margin-bottom: 25px;
    background-color: white;
    border: 1px solid #cccccc;
    display: inline-block;
    height: 20px;
    color: #373737;
    -webkit-border-radius: 4px;
    -mox-border-radius: 4px;
    border-radius: 4px;
}

.contact-form input {
    width: 445px;
}
.contact-form textarea {
    width: 445px;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 10px;
    background-color: white;
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
    -mox-border-radius: 4px;
    border-radius: 4px;
    
}

input[type="submit"].btn {
    border: 0 none;
    padding-top: 0;
    padding-right: 22px;
    padding-bottom: 0;
    padding-left: 22px;
    margin-top: 10px;
    height: 50px;
    width: 150px;
    -webkit-transition: background 0.5s ease 0s;
    -moz-transition: background 0.5s ease 0s;
    transition: background 0.5s ease 0s;
    }

.form p {
    margin-bottom: 20px;
}

.sidebar-form input[type="text"] {
    height: 30px;
    width: 125px;
    padding: 0;
    margin-bottom: 2px;
    -webkit-border-radius: 4px 0 04px;
    -moz-border-radius: 4px 0 04px;
    border-radius: 4px 0 04px;
}

.sidebar-form .btn {
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    border: 0 none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: background 0.5s ease 0s;
    -moz-transition: background 0.5s ease 0s;
    transition: background 0.5s ease 0s;
    
}

.contact-table {
    width: 99%;
    margin-bottom: 50px;
}

.contact-table caption {
    color: #373737;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-style: 10px;
    font-weight: 200;
    margin-bottom: 10px;
}

.contact-table th {
    text-align: left;
    background-color: white;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.contact-table td {
    color: #373737;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.contact-table tr:nth-child(odd) {
    background-color: #f9f8f8;
}

.contact-table tr:hover {
    background-color: #999999;
    cursor: crosshair;
}