.container {
width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.column{
    float: left;
    margin-right: 10px;
    margin-left:10px;
}

.row {
    overflow: hidden;
}

.one-whole {
    width: 940px;
    
}

.three-quarters {
    
    width:700ps;
}

.one-half {
    width: 460px;
}

.two-thirds {
    width: 620px;
}

.one-third {
    width: 300px;
}

.one-six {
    width: 140px;
    
}

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

nav ul li {
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}




