html {
    -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before
*:after {
    -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 600px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    
}

body {
    padding-top: 75px;
    text-align: center;
    background-color: darksalmon;
}



ul {
    list-style: none;
    padding: 0;
    font-family: 'NTR', sans-serif;
    font-size: 1.25em;
    color: chocolate;
    line-height: 1.5em;
}


h1 {
    font-family: 'Special Elite', cursive;
    font-size: 4em;
    color: salmon;
    margin-bottom: 0;
}

h3 {
    font-family: 'Special Elite', cursive;
    font-size: 1.5em;
    color: salmon;
    margin-top: 0;
    
}

h4 {
    font-family: 'Special Elite', cursive;
    padding-top: 15px;
    padding-bottom: 40px;
    color: salmon;
    font-size: 1.15em;
}

a {
    text-decoration: none;
    color: cadetblue;
    font-weight: 800;
}

p {
    color: chocolate;
    font-family: 'NTR', sans-serif;
    font-size: 1.35em;
    padding-top: 15px;
}

.icon-color {
    color: salmon;
}

