//color
$white: #fff;
$black: #000000;
$yellow: #fcee1f;
$light-grey: #e1e1e1;

//scaffholding
$body-bg: $white;
$text-color: $black;
$nav-bg: $yellow;

//Typography
$font-family-base: Helvetica, Arial, sans-serif; 
$font-family-headings: Helvetica, Arial, sans-serif; 
$font-size-base: 12px; 
$font-size-h1: 6em;;  
$font-size-h2: 4em; 
$font-size-h3: 1.3em; 
$font-size-h4: 1em; 
$line-height-base: 1.428571429; // same as Bootstrap default
$headings-font-weight: 900;
$headings-line-height: 1.1;
$headings-color: $black;
